<div class="course-page">
    @if(course)
    {
      <mat-card class="course-details-card">
        <mat-card-header>
          <mat-card-title><div class="title">{{ course.title }}</div></mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <p class="course-description">{{ course.description }}</p>
        </mat-card-content>
  
        <mat-card-actions class="button-container">
          <button mat-raised-button color="primary" class="lesson-button" [routerLink]="['/courses/'+course.id,'lessons']">
            📚 לרשימת השיעורים
          </button>
  
          <button mat-raised-button class="enroll-button" [color]="check() ? 'warn' : 'accent'" 
            (click)="check() ? unEnrollStudent() : enrollStudent()">
            {{ check() ? "❌ עזיבה" : "✅ הרשמה" }}
          </button>
        </mat-card-actions>
      </mat-card>
    }
    @else 
    {
      <mat-card class="error-card">
        <mat-card-content>
          <p>❗ לא נמצאו פרטים עבור קורס זה</p>
        </mat-card-content>
      </mat-card>
    }
  </div>
  