<div class="page">
@if(open)
{
    <form [formGroup]="myForm" (ngSubmit)="updateLesson()">
        <label>title: <input formControlName="title" /></label>
        <br />
        <label>content: <input formControlName="content" /></label>
        <br />
        <button type="submit">send</button>
    </form>
}
@else {<button class="but" (click)="deleteLesson()">delete lesson</button>
<button class="but" (click)="openForm()">edit lesson</button>}
<button class="return-button" (click)="navigate()">לחזרה לשעורים</button>
</div>